<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          viverra, lorem nec viverra aliquet.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="dashboard"> Dashboard</a></li>
          <li><a href="adminpanel">Admin Panel</a></li>
          <li><a href="about">About Us</a></li>
          <li><a href="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
