<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Checkmeng</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="css/footer.css" rel="stylesheeet" />
    <style>
      body {
        padding-top: 56px; /* Offset for fixed navbar */
      }

      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <!-- Navigation -->
    <%- include('partials/nav') %>

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Checkmeng</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Dashboard.html"> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="AdminPanel.html">Admin Panel</a>
            </li>
<li class="nav-item">
              <a class="nav-link" href="AboutUs.html">About Us</a>
            </li> -->
    <!-- <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <div class="container">
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra,
        lorem nec viverra aliquet, leo risus blandit lacus, et scelerisque justo
        sem a nunc. Donec fermentum turpis nec justo lobortis, vel dignissim
        lorem venenatis. Praesent et risus in urna efficitur vehicula.
      </p>
      <p>
        Quisque ut leo ut libero posuere bibendum. Curabitur ut ex libero. Nulla
        facilisi. In id ultricies orci. Ut tincidunt consequat nisi nec mattis.
        Sed scelerisque sem et vehicula pharetra.
      </p>
      <p>Contact us for more information.</p>
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
