<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us - Checkmeng</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- <link href="styles/nav.css" rel="stylesheet" /> -->
    <style>
      body {
        padding-top: 56px; /* Offset for fixed navbar */
      }

      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('partials/nav') %>
    <!-- Navigation -->

    <div class="container">
      <h1>Contact Us</h1>
      <p>
        If you have any questions or inquiries, please feel free to contact us:
      </p>
      <ul>
        <li>Email: info@example.com</li>
        <li>Phone: +1 (123) 456-7890</li>
        <li>Address: 123 Main Street, City, Country</li>
      </ul>
    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
